body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #8707d1, #242c2e);
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #8707d1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #17687a;
}

#resultado {
    margin-top: 20px;
    font-size: 15px;
}