body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 420px) {
    .box {
        background-color: gray;
    }

}

@media (min-width: 421px) and (max-width: 768px) {
    .box {
        background-color: orange;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .box {
        background-color: blue;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .box {
        background-color: purple;
    }

}

@media (min-width: 1441px) and (max-width: 1920px) {
    .box {
        background-color: red;
    }
}
@media (min-width: 1921px) {
    .box {
        background-color: green;
    }

}